.App {
  font-family: "Inter";
  margin: 80px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  padding-top: 8px;
  padding-bottom: 8px;
}
